In [ ]:
from pyspark.sql import SparkSession
data = spark.read.csv("/FileStore/tables/sharemarket.csv",schema='MARKET string, SERIES string, SYMBOL string, SECURITY string, PREV_CL_PR float, OPEN_PRICE float, HIGH_PRICE float,LOW_PRICE float, CLOSE_PRICE float, NET_TRDVAL float,NET_TRDQTY float,CORP_IND int,TRADES int,HI_52_WK float,LO_52_WK float')
data.printSchema()
data.show(truncate=False)

root
 |-- MARKET: string (nullable = true)
 |-- SERIES: string (nullable = true)
 |-- SYMBOL: string (nullable = true)
 |-- SECURITY: string (nullable = true)
 |-- PREV_CL_PR: float (nullable = true)
 |-- OPEN_PRICE: float (nullable = true)
 |-- HIGH_PRICE: float (nullable = true)
 |-- LOW_PRICE: float (nullable = true)
 |-- CLOSE_PRICE: float (nullable = true)
 |-- NET_TRDVAL: float (nullable = true)
 |-- NET_TRDQTY: float (nullable = true)
 |-- CORP_IND: integer (nullable = true)
 |-- TRADES: integer (nullable = true)
 |-- HI_52_WK: float (nullable = true)
 |-- LO_52_WK: float (nullable = true)

+------+------+----------+-------------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
|MARKET|SERIES|SYMBOL    |SECURITY                 |PREV_CL_PR|OPEN_PRICE|HIGH_PRICE|LOW_PRICE|CLOSE_PRICE|NET_TRDVAL|NET_TRDQTY|CORP_IND|TRADES|HI_52_WK|LO_52_WK|
+------+------+----------+-------------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
|N     |N1    |IRFC      |BOND 8.00% PA TAX FREE S1|1086.0    |1085.0    |1085.0    |1084.54  |1085.0     |3371959.5 |3108.0    |null    |8     |1194.0  |1050.0  |
|N     |N1    |JNPT      |BOND 6.82% PA TAX FREE S1|1001.0    |1007.1    |1015.0    |1007.1   |1015.0     |51370.0   |51.0      |null    |2     |1529.99 |1000.0  |
|N     |N1    |NHAI      |BOND 8.20% PA TAX FREE S1|1091.38   |1092.0    |1092.0    |1087.0   |1089.98    |3861145.5 |3544.0    |null    |39    |1140.0  |1045.0  |
|N     |N1    |NTPC      |8.41%S-R-NCD SERIES 1A   |1198.99   |1135.0    |1135.0    |1135.0   |1135.0     |113500.0  |100.0     |null    |1     |1275.0  |1022.1  |
|N     |N1    |RECLTD    |TAXFREE SEC NCD TR1 S1   |1083.54   |1088.0    |1088.0    |1085.0   |1085.0     |108530.0  |100.0     |null    |2     |1184.8  |1041.0  |
|N     |N2    |BRITANNIA |8.00% SEC RED NCD        |33.07     |33.07     |33.2      |32.8     |33.14      |677372.4  |20461.0   |null    |107   |36.0    |29.9    |
|N     |N2    |HUDCO     |8.20 NCD05MAR27 FV 1000  |1215.0    |1222.0    |1222.0    |1222.0   |1222.0     |3666.0    |3.0       |null    |2     |1311.0  |1171.0  |
|N     |N2    |IIFCL     |8.66% TAX FREE NCD       |1135.0    |1137.0    |1137.0    |1137.0   |1137.0     |4548.0    |4.0       |null    |1     |1390.0  |1101.1  |
|N     |N2    |M&MFIN    |9.00% UNSECURED NCD      |1104.0    |1101.98   |1101.98   |1080.05  |1089.43    |423116.5  |388.0     |null    |12    |1229.0  |1049.5  |
|N     |N2    |NABARD    |7.64% TAX FREE TRI SRIIB |1238.5    |1239.01   |1239.55   |1237.01  |1238.22    |125060.45 |101.0     |null    |4     |1304.8  |1181.0  |
|N     |N2    |NHAI      |BOND 8.30% PA TAX FREE S2|1258.5    |1255.5    |1257.0    |1253.1   |1256.45    |464590.5  |370.0     |null    |6     |1294.9  |1176.0  |
|N     |N2    |NTPC      |8.48%S-R-NCD SERIES 2A   |1282.0    |1282.5    |1283.0    |1282.5   |1283.0     |128275.0  |100.0     |null    |2     |1854.0  |1225.0  |
|N     |N2    |PCHFL     |SEC RE NCD 8.35% SR.I    |1000.0    |1000.0    |1004.67   |1000.0   |1001.68    |526800.94 |526.0     |null    |17    |1028.0  |981.01  |
|N     |N2    |RECLTD    |TAXFREE SEC NCD TR1 S2   |1207.0    |1192.0    |1192.0    |1192.0   |1192.0     |238400.0  |200.0     |null    |1     |1288.0  |1160.0  |
|N     |N2    |TATACAPHSG|SEC RED NCD 8.10% SR.I   |1054.21   |1055.01   |1058.0    |1055.0   |1058.0     |1105942.5 |1048.0    |null    |42    |1160.0  |950.0   |
|N     |N3    |BRITANNIA |UNSEC RED NCD 5.50%      |29.43     |29.4      |29.7      |29.38    |29.47      |4233218.0 |143810.0  |null    |787   |30.5    |29.0    |
|N     |N3    |DHANILOANS|DHANI LOANS & SERV LTD   |1008.0    |1002.0    |1003.0    |1002.0   |1003.0     |78158.0   |78.0      |null    |5     |1030.0  |810.0   |
|N     |N3    |HUDCO     |8.10 NCD 05MAR22 FV 1000 |1054.84   |1054.84   |1055.9    |1054.52  |1054.91    |1729096.9 |1639.0    |null    |19    |1320.0  |1000.0  |
|N     |N4    |DHANILOANS|DHANI LOANS & SERV LTD   |1020.8    |1022.01   |1022.01   |1022.01  |1022.01    |2044.02   |2.0       |null    |1     |1098.75 |851.0   |
|N     |N4    |ERFLNCDI  |SEC RED NCD 9.00% SR. IV |986.0     |988.22    |988.22    |988.22   |988.22     |29646.6   |30.0      |null    |1     |1050.0  |829.95  |
+------+------+----------+-------------------------+----------+----------+----------+---------+-----------+----------+----------+--------+------+--------+--------+
only showing top 20 rows

In [ ]:
data = data.drop('CORP_IND')
data.show(truncate=False)

+------+------+----------+-------------------------+----------+----------+----------+---------+-----------+----------+----------+------+--------+--------+
|MARKET|SERIES|SYMBOL    |SECURITY                 |PREV_CL_PR|OPEN_PRICE|HIGH_PRICE|LOW_PRICE|CLOSE_PRICE|NET_TRDVAL|NET_TRDQTY|TRADES|HI_52_WK|LO_52_WK|
+------+------+----------+-------------------------+----------+----------+----------+---------+-----------+----------+----------+------+--------+--------+
|N     |N1    |IRFC      |BOND 8.00% PA TAX FREE S1|1086.0    |1085.0    |1085.0    |1084.54  |1085.0     |3371959.5 |3108.0    |8     |1194.0  |1050.0  |
|N     |N1    |JNPT      |BOND 6.82% PA TAX FREE S1|1001.0    |1007.1    |1015.0    |1007.1   |1015.0     |51370.0   |51.0      |2     |1529.99 |1000.0  |
|N     |N1    |NHAI      |BOND 8.20% PA TAX FREE S1|1091.38   |1092.0    |1092.0    |1087.0   |1089.98    |3861145.5 |3544.0    |39    |1140.0  |1045.0  |
|N     |N1    |NTPC      |8.41%S-R-NCD SERIES 1A   |1198.99   |1135.0    |1135.0    |1135.0   |1135.0     |113500.0  |100.0     |1     |1275.0  |1022.1  |
|N     |N1    |RECLTD    |TAXFREE SEC NCD TR1 S1   |1083.54   |1088.0    |1088.0    |1085.0   |1085.0     |108530.0  |100.0     |2     |1184.8  |1041.0  |
|N     |N2    |BRITANNIA |8.00% SEC RED NCD        |33.07     |33.07     |33.2      |32.8     |33.14      |677372.4  |20461.0   |107   |36.0    |29.9    |
|N     |N2    |HUDCO     |8.20 NCD05MAR27 FV 1000  |1215.0    |1222.0    |1222.0    |1222.0   |1222.0     |3666.0    |3.0       |2     |1311.0  |1171.0  |
|N     |N2    |IIFCL     |8.66% TAX FREE NCD       |1135.0    |1137.0    |1137.0    |1137.0   |1137.0     |4548.0    |4.0       |1     |1390.0  |1101.1  |
|N     |N2    |M&MFIN    |9.00% UNSECURED NCD      |1104.0    |1101.98   |1101.98   |1080.05  |1089.43    |423116.5  |388.0     |12    |1229.0  |1049.5  |
|N     |N2    |NABARD    |7.64% TAX FREE TRI SRIIB |1238.5    |1239.01   |1239.55   |1237.01  |1238.22    |125060.45 |101.0     |4     |1304.8  |1181.0  |
|N     |N2    |NHAI      |BOND 8.30% PA TAX FREE S2|1258.5    |1255.5    |1257.0    |1253.1   |1256.45    |464590.5  |370.0     |6     |1294.9  |1176.0  |
|N     |N2    |NTPC      |8.48%S-R-NCD SERIES 2A   |1282.0    |1282.5    |1283.0    |1282.5   |1283.0     |128275.0  |100.0     |2     |1854.0  |1225.0  |
|N     |N2    |PCHFL     |SEC RE NCD 8.35% SR.I    |1000.0    |1000.0    |1004.67   |1000.0   |1001.68    |526800.94 |526.0     |17    |1028.0  |981.01  |
|N     |N2    |RECLTD    |TAXFREE SEC NCD TR1 S2   |1207.0    |1192.0    |1192.0    |1192.0   |1192.0     |238400.0  |200.0     |1     |1288.0  |1160.0  |
|N     |N2    |TATACAPHSG|SEC RED NCD 8.10% SR.I   |1054.21   |1055.01   |1058.0    |1055.0   |1058.0     |1105942.5 |1048.0    |42    |1160.0  |950.0   |
|N     |N3    |BRITANNIA |UNSEC RED NCD 5.50%      |29.43     |29.4      |29.7      |29.38    |29.47      |4233218.0 |143810.0  |787   |30.5    |29.0    |
|N     |N3    |DHANILOANS|DHANI LOANS & SERV LTD   |1008.0    |1002.0    |1003.0    |1002.0   |1003.0     |78158.0   |78.0      |5     |1030.0  |810.0   |
|N     |N3    |HUDCO     |8.10 NCD 05MAR22 FV 1000 |1054.84   |1054.84   |1055.9    |1054.52  |1054.91    |1729096.9 |1639.0    |19    |1320.0  |1000.0  |
|N     |N4    |DHANILOANS|DHANI LOANS & SERV LTD   |1020.8    |1022.01   |1022.01   |1022.01  |1022.01    |2044.02   |2.0       |1     |1098.75 |851.0   |
|N     |N4    |ERFLNCDI  |SEC RED NCD 9.00% SR. IV |986.0     |988.22    |988.22    |988.22   |988.22     |29646.6   |30.0      |1     |1050.0  |829.95  |
+------+------+----------+-------------------------+----------+----------+----------+---------+-----------+----------+----------+------+--------+--------+
only showing top 20 rows

In [ ]:
data.createOrReplaceTempView('sharemarket')

In [ ]:
#1) Display number of series present in the data
spark.sql('select count(distinct SERIES) from sharemarket').show()

+----------------------+
|count(DISTINCT SERIES)|
+----------------------+
|                    53|
+----------------------+

In [ ]:
#2) Display series present in the data
spark.sql('select distinct SERIES from sharemarket').show()

+------+
|SERIES|
+------+
|    NL|
|    NK|
|    NJ|
|    NA|
|    N3|
|    NH|
|    NE|
|    NC|
|    ND|
|    N7|
|    N8|
|    N2|
|    N5|
|    N4|
|    N6|
|    NI|
|    N1|
|    NG|
|    N9|
|    NB|
+------+
only showing top 20 rows

In [ ]:
#3) find the sum of all the prices in each series
#spark.sql('select SERIES,sum(PREV_CL_PR),sum(OPEN_PRICE),sum(HIGH_PRICE),sum(LOW_PRICE),sum(CLOSE_PRICE) from sharemarket group by SERIES').show()
spark.sql('select SERIES,sum(PREV_CL_PR+OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE) as total from sharemarket group by SERIES').show()

+------+------------------+
|SERIES|             total|
+------+------------------+
|    YH|  5119.02001953125|
|    NS|  5154.60009765625|
|    NL| 17007.05029296875|
|    NK|  9671.98974609375|
|    Z4|  5144.85009765625|
|    NJ|  21451.9697265625|
|    NX|  1625.47998046875|
|    YS|            5670.0|
|    NW|   5444.2001953125|
|    NA|  99490.4482421875|
|    Z8|            5191.0|
|    YA|  1369.97998046875|
|    NP|           6465.75|
|    N3|10440.390243530273|
|    NH| 23478.92041015625|
|    NE|  84056.6083984375|
|    NC| 71805.37841796875|
|    NQ|1560.0999755859375|
|    Z1|  6376.10986328125|
|    NR| 6161.440185546875|
+------+------------------+
only showing top 20 rows

In [ ]:
#4) Display security,series with highest net trade value
spark.sql("select SECURITY,SERIES from sharemarket where NET_TRDVAL >=(select max(NET_TRDVAL) from sharemarket)").show(truncate=False)

+-------------------------+------+
|SECURITY                 |SERIES|
+-------------------------+------+
|8.75% TAX FREE TR I S IIB|N6    |
+-------------------------+------+

In [ ]:
#5) Display series whose sum of all prices greater than net trade value
spark.sql("SELECT SERIES, (OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE) TOTAL_PRICE ,(NET_TRDVAL) TOTAL_TRADE FROM SALES WHERE OPEN_PRICE+HIGH_PRICE+LOW_PRICE+CLOSE_PRICE>NET_TRDVAL AND NET_TRDVAL IS NOT NULL").show()

In [ ]:
#6) Display series with highest net trade quantity
spark.sql('select SERIES from sharemarket where NET_TRDQTY>=(select max(NET_TRDQTY) from sharemarket)').show()

+------+
|SERIES|
+------+
|    N3|
+------+

In [ ]:
#7 Display highest and lowest open price
spark.sql('select max(OPEN_PRICE),min(OPEN_PRICE) from sharemarket').show()

+---------------+---------------+
|max(OPEN_PRICE)|min(OPEN_PRICE)|
+---------------+---------------+
|        11450.0|          13.75|
+---------------+---------------+

In [ ]:
#8 Display series which have trades more than 80
spark.sql('select series from sharemarket where TRADES>80').show()

+------+
|series|
+------+
|    N2|
|    N3|
|    N7|
+------+

In [ ]:
#Display the difference between net trade value and net trade quantity for each series
spark.sql('select SERIES, sum(NET_TRDVAL)-sum(NET_TRDQTY) as DIFF_VAL_QNT from sharemarket group by SERIES').show()

+------+------------------+
|SERIES|      DIFF_VAL_QNT|
+------+------------------+
|    YH|     61270.1015625|
|    NS|      354013.90625|
|    NL|  1581525.31640625|
|    NK|      1010121.6875|
|    Z4|     36956.6015625|
|    NJ|         7421503.0|
|    NX|  12728.7197265625|
|    YS|           79055.0|
|    NW|          203456.5|
|    NA|       3331953.875|
|    Z8|          332530.0|
|    YA|    2354.919921875|
|    NP|   316500.19921875|
|    N3|       5894945.875|
|    NH|       1686244.625|
|    NE|     2538813.90625|
|    NC|    2505038.828125|
|    NQ|            6280.0|
|    Z1|       202640.3125|
|    NR|461379.49377441406|
+------+------------------+
only showing top 20 rows